/* здесь используйте глобальные переменные */
/* Цвета */
$basic-color: #444444;
$accent-color: #68b738;
$light-color: #ffffff;
$dark-color: #000000;
$title-default-color: #222222;
$title-special-color: #111111;
$background-default-color: #f2f2f2;
$background-dark-color: #eaeaea;

/* Размеры */
$mobile-width: 425px;
$tablet-width: 748px;
$desktop-width: 1440px;
