.address {
  font-style: normal;
  line-height: 20px;
}

.address__city,
.address__street {
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.address__street {
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}
