.benefits__container {
  @include padding-adaptive($tablet-width, 0 109px 104px $padding-tablet);
  @include padding-adaptive($desktop-width, 0 $padding-desktop 69px);
  padding: 0 $padding-mobile 49px;
}

.benefits__title {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }
}

.benefits__list {
  @include flex-setting(column, space-between, start, 20px, wrap);
  @include grid-adaptive($tablet-width, repeat(2, 1fr), 135px);
  @include grid-adaptive($desktop-width, repeat(4, 1fr), 40px 75px);
  counter-reset: benefit 0;
}
