.catalog-products__container {
  @include padding-adaptive($tablet-width, 40px $padding-tablet 74px);
  @include padding-adaptive($desktop-width, 74px $padding-desktop 70px);
  padding: 27px $padding-mobile 25px;

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $border-special-color;
  }
}

.catalog-products__title {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
  }
}

.catalog-products__list {
  @include grid-adaptive($tablet-width, repeat(2, 1fr), 60px);
  @include grid-adaptive($desktop-width, repeat(4, 245px), 63px 80px);
}

.catalog-products__item {
  @include padding-adaptive($tablet-width, 10px 37px 40px);
  padding: 20px 0 24px;
}

.catalog-products__item.product-card--more {
  @include padding-adaptive($tablet-width, 82px 37px 40px);
  padding: 25px 0;
}
