.product-card {
  @include font-setting-short(12px, 400, 16px);
  @include font-adaptive($tablet-width, 16px, 400, 20px);
  @include background-adaptive($tablet-width, linear-gradient($light-color 16%, $background-default-color 16%));
  @include grid-setting(1fr 1fr, 0);
  @include flex-adaptive($tablet-width, column, space-between, center, 0, nowrap);
}

.product-card--more {
  @include font-adaptive($tablet-width, 16px, 400, 18px);
  @include flex-setting(column, center, center, 0, nowrap);
  background: $light-color;
}

.product-card--more .product-card__title {
  margin: 0;
  color: $title-special-color;
}

.product-card--more .product-card__text {
  margin: 0;
  text-align: center;
}

.product-card--more .product-card__button {
  background-color: $background-default-color;
  color: $basic-color;
}

.product-card__image-container {
  width: 100%;
  height: 100%;
}

.product-card__link {
  @include flex-setting(row, center, center, 0, nowrap);

  width: 100%;
  height: 100%;
}

.product-card__title {
  @include font-setting($secondary-font, 16px, 400, 20px, $title-default-color);
  @include font-adaptive($tablet-width, 20px, 400, 24px);
  @include margin-adaptive($tablet-width, 0 57px 20px);
  @include margin-adaptive($desktop-width, 0 14px 23px);
  margin: 0 65px 16px 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.product-card__content {
  @include margin-adaptive($tablet-width, 0 0 32px 0);
  margin: 0 0 17;
  width: 100%;
}

.product-card__records {
  @include grid-setting(1fr 1fr, 0);

  @media (min-width: $tablet-width) {
    align-self: stretch;
  }
}

.product-card__records-desc {
  text-align: left;

  @media (min-width: $tablet-width) {
    margin: 5px 0;
    border-bottom: 1px solid $border-color;
  }
}

.product-card__records-value {
  text-align: right;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 5px 0;
    border-bottom: 1px solid $border-color;
  }
}

.product-card__button {
  grid-column: 1/-1;
  align-self: stretch;
}
