.product-card {
  @include font-setting-short(12px, 400, 16px);
  @include font-adaptive($tablet-width, 16px, 400, 20px);
  @include background-adaptive($tablet-width, linear-gradient($light-color 16%, $background-default-color 16%));
  @include grid-setting(1fr 1fr, 0);
  @include flex-adaptive($tablet-width, column, space-between, center, 0, nowrap);
  position: relative;

  @media (max-width: $mobile-width) {
    &::before {
      content: "";
      position: absolute;
      height: 1px;
      top: 0;
      left: -$padding-mobile;
      right: -$padding-mobile;
      background-color: $background-special-color;
    }
  }
}

.product-card--more {
  @include font-adaptive($tablet-width, 16px, 400, 18px);
  @include flex-setting(column, center, center, 0, nowrap);
  background: $light-color;
  position: relative;

  @media (max-width: $mobile-width) {
    &::after {
      content: "";
      position: absolute;
      height: 1px;
      bottom: 0;
      left: -$padding-mobile;
      right: -$padding-mobile;
      background-color: $background-special-color;
    }
  }

  @media (min-width: $tablet-width) {
    box-shadow:
      inset 0 82px $light-color,
      inset 0 84px $background-default-color,
      inset 0 0 0 2px $background-default-color;
  }
}

.product-card--more .product-card__link {
  &::before {
    @include background-image-setting(url("../../icons/stack.svg#plus"), 30px 30px, center, no-repeat);
    content: "";
    width: 30px;
    height: 30px;
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      @include background-image-setting(url("../../icons/stack.svg#plus"), 60px 60px, center, no-repeat);
      width: 60px;
      height: 60px;
      margin: 100px 0 50px;
    }

    @media (min-width: $desktop-width) {
      margin: 98px 0 40px;
    }
  }
}

.product-card--more .product-card__title {
  @include margin-adaptive($tablet-width, 0 47px 23px);
  @include margin-adaptive($desktop-width, 0 0 26px);
  margin: 0 0 8px;
  color: $title-special-color;
}

.product-card--more .product-card__text {
  @include margin-adaptive($tablet-width, 0 40px 82px);
  @include margin-adaptive($desktop-width, 0 0 90px);
  margin: 0 0 21px;
  text-align: center;
}

.product-card--more .product-card__button {
  background-color: $background-default-color;
  color: $basic-color;

  &:not(:disabled):hover,
  &:not(:disabled):active {
    background-color: $background-special-color;
    color: $basic-color;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.product-card__image-container {
  @include flex-setting(column, center, center, 0, nowrap);
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 210px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    margin-bottom: 12px;
  }
}

.product-card__link {
  @include flex-setting(column, center, center, 0, nowrap);
}

.product-card__link,
.product-card__link-title {
  &:not(:disabled):hover {
    opacity: 0.8;
  }

  &:not(:disabled):active {
    opacity: 0.6;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.product-card__title {
  @include font-setting($secondary-font, 16px, 400, 20px, $title-default-color);
  @include font-adaptive($tablet-width, 20px, 400, 24px);
  @include margin-adaptive($tablet-width, 0 57px 13px);
  @include margin-adaptive($desktop-width, 0 14px 15px);
  margin: 0 65px 16px 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}

.product-card__content {
  @include margin-adaptive($tablet-width, 0 0 32px 0);
  margin: 0 0 21px;
  width: 100%;
}

.product-card__records {
  @include grid-setting(1fr 1fr, 0);

  @media (min-width: $tablet-width) {
    align-self: stretch;
  }
}

.product-card__records-desc {
  text-align: left;

  @media (min-width: $tablet-width) {
    padding: 6px 0;
    border-bottom: 1px solid $border-color;
  }
}

.product-card__records-value {
  text-align: right;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 6px 0;
    border-bottom: 1px solid $border-color;
  }
}

.product-card__button {
  grid-column: 1/-1;
  align-self: stretch;
}
