.site-list {
  @include flex-adaptive($tablet-width, row, flex-end, center, 0, wrap);
  border-bottom: 1px solid $background-dark-color;
  width: 100%;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.site-list__link {
  @include font-setting($secondary-font, 20px, 400, 20px, $dark-color);
  @include font-adaptive($tablet-width, 18px, 400, 24px);
  @include font-adaptive($desktop-width, 20px, 400, 30px);
  @include padding-adaptive($tablet-width, 14px 17px 12px);
  @include padding-adaptive($desktop-width, 16px 16px 10px);
  display: block;
  padding: 22px 16px 24px;
  background-color: $light-color;
  border-top: 1px solid $background-dark-color;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    border: none;
  }

  &:not(:disabled):hover {
    color: rgb(0, 0, 0, 0.6);
  }

  &:not(:disabled):active {
    color: rgb(0, 0, 0, 0.3);
  }

  &:disabled {
    color: rgb(0, 0, 0, 0.1);
  }
}

.site-list__item:last-child .site-list__link {
  @media (min-width: $tablet-width) {
    padding-right: 3.5px;
  }
}

.site-list__item--current {
  @media (min-width: $tablet-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 17px;
      right: 17px;
      bottom: -2px;
      height: 2px;
      background-color: $accent-color;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      bottom: 4px;
    }
  }
}
