.social-list {
  @include flex-setting(row, center, center, 24px, wrap);
}

.social-list__link {
  display: block;
  width: 28px;
  height: 22px;
  background-color: #666666;
}

.social-list__link--vk {
  mask-image: url("../../icons/stack.svg#vk");
}

.social-list__link--telegram {
  mask-image: url("../../icons/stack.svg#telegram");
}

.social-list__link--youtube {
  mask-image: url("../../icons/stack.svg#youtube");
}
