.sub-products__container {
  @include padding-adaptive($tablet-width, 0 $padding-tablet);
  @include padding-adaptive($desktop-width, 0 $padding-desktop);
  padding: 0 $padding-mobile;
}

.sub-products__title {
  @include margin-adaptive($tablet-width, 0 0 80px 40px);
  @include margin-adaptive($desktop-width, 0 0 80px);
  margin: 0 0 36px;
}

.sub-products__content {
  @include grid-adaptive($desktop-width, 1fr 245px, 80px);
}

.sub-products__list {
  border-top: 1px solid #cdcdcd;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    margin-bottom: 73px;
  }

  @media (min-width: $desktop-width) {
    border-left: none;
    border-right: none;
    margin-bottom: 0;
  }
}

.sub-products__item {
  @include padding-adaptive($tablet-width, 26px 38px);
  @include padding-adaptive($desktop-width, 15px 1px);
  padding: 13px 0 19px;
  border-bottom: 1px solid #cdcdcd;
}

.sub-products__promo {
  @include flex-setting(column, space-between, center, 48px, wrap);
  @include flex-adaptive($tablet-width, row, space-between, center, 264px, wrap);
  @include flex-adaptive($desktop-width, column, space-between, center, 46px, wrap);
  @include background-image-setting((linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), image-set(url("../../images/background/promo_mobile@1x.jpg") 1x, url("../../images/background/promo_mobile@2x.jpg") 2x)), cover, left top, no-repeat);
  @include background-image-adaptive($tablet-width, (linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), image-set(url("../../images/background/promo_tablet@1x.jpg") 1x, url("../../images/background/promo_tablet@2x.jpg") 2x)), cover, left top, no-repeat);
  @include background-image-adaptive($desktop-width, (linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), image-set(url("../../images/background/promo_desktop@1x.jpg") 1x, url("../../images/background/promo_tablet@2x.jpg") 2x)), cover, left top, no-repeat);
  @include padding-adaptive($tablet-width, 57px 125px 60px 77px);
  @include padding-adaptive($desktop-width, 56px 42px 43px);
  padding: 59px 58px 43px;
  background-color: $accent-color;
  color: $light-color;

  // Поддержка WebP через @supports
  @supports (background-image: image-set(url("../../images/background/promo_mobile@1x.webp") 1x)) {
    @include background-image-setting((linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), image-set(url("../../images/background/promo_mobile@1x.webp") 1x, url("../../images/background/promo_mobile@2x.webp") 2x)), cover, left top, no-repeat);
    @include background-image-adaptive($tablet-width, (linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), image-set(url("../../images/background/promo_tablet@1x.webp") 1x, url("../../images/background/promo_tablet@2x.webp") 2x)), cover, left top, no-repeat);
    @include background-image-adaptive($desktop-width, (linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85)), image-set(url("../../images/background/promo_desktop@1x.webp") 1x, url("../../images/background/promo_tablet@2x.webp") 2x)), cover, left top, no-repeat);
  }

  &::before {
    @include background-image-setting(url("../../icons/stack.svg#icon_gift"), 78px 80px, center, no-repeat);
    content: "";
    display: block;
    width: 78px;
    height: 80px;

    @media (min-width: $tablet-width) {
      @include background-image-setting(url("../../icons/stack.svg#icon_gift"), 80px 83px, center, no-repeat);
      width: 80px;
      height: 83px;
    }
  }
}

.sub-products__promo-text {
  @include font-setting-short(16px, 400, 20px);
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    text-align: left;
  }
}
